{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}首页{% endblock %}

{% block body_block %}
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}

        {% if categories %}
            <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There is no categories present.</strong>
        {% endif %}

{% endblock %}