<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        {% if categories %}
            <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There is no categories present.</strong>
        {% endif %}
        <a href="{% url 'add_category' %}">Add a new category</a><br/>
        <a href="{% url 'register' %}">Register Here</a>
        <a href="/rango/about/">About</a><br />
    </body>

</html>
